## Urval estimation

Installera Python paket samplics. Nej, "samplics" funkar inte bra.

In [1]:
'''
try: 
    import samplics
except:
    !pip install samplics 
    import samplics as ss
'''

'\ntry: \n    import samplics\nexcept:\n    !pip install samplics \n    import samplics as ss\n'

### Läs in data från tidigare steg

In [2]:
import numpy as np
import pandas as pd

df_ind = pd.read_csv("Output1.csv")

df_ind.tail()

,Unnamed: 0,Nace,CompanyID,Year,Mon,Allvar,SampleYear,Status,BGrupp,SGrupp,Storan,Lillan,turnover
71668,71668,26,S213000317,2021,12,318.0,2021,711.0,26400,5,9,9,0
71669,71669,25,S213000320,2021,12,6757.0,2021,73102.0,255XX,4,99,99,644
71670,71670,26,S213000324,2021,12,26530.0,2021,73102.0,262YY,6,8,8,2437
71671,71671,26,S213000325,2021,12,676.0,2021,73101.0,26100,1,25,5,7
71672,71672,27,T018996076,2021,12,687574.0,2021,711.0,271XX,6,13,13,59360

In [3]:
df_ind.drop("Unnamed: 0", axis = 1, inplace=True)

In [4]:
df_ind.sort_values(by=["Year", "Mon", "Nace", "SGrupp"])

,Nace,CompanyID,Year,Mon,Allvar,SampleYear,Status,BGrupp,SGrupp,Storan,Lillan,turnover
40,25,S140009003,2015,1,1052.0,2014,73146.0,251XX,1,157,8,95
41,25,S140009004,2015,1,877.0,2014,711.0,251XX,1,157,8,38
42,25,S140009005,2015,1,671.0,2014,711.0,251XX,1,157,8,42
43,25,S140009007,2015,1,526.0,2014,711.0,251XX,1,157,8,3
55,25,S140009023,2015,1,996.0,2014,73146.0,251XX,1,157,8,72
...,...,...,...,...,...,...,...,...,...,...,...,...
71278,30,S140010013,2021,12,90076.0,2021,711.0,301XX,6,5,5,12496
71280,30,S140010016,2021,12,27776.0,2021,711.0,30900,6,2,2,2179
71281,30,S140010017,2021,12,29997.0,2021,711.0,30900,6,2,2,1952
71269,30,S140009999,2021,12,67461.0,2021,711.0,301XX,8,2,2,19852
71274,30,S140010007,2021,12,746378.0,2021,711.0,301XX,8,2,2,57302

In [5]:

def horvitz_thompson_estimator(rows):
    n = len(rows)
    y = rows['turnover']
    pi = rows['Lillan'] / rows['Storan']
    ht_estimator = np.sum(y / pi)
    ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
    return pd.Series({'ht_estimator': ht_estimator, 'ht_variance_estimator': ht_variance_estimator})
    #return pd.Series({'Year': rows['Year'].iloc[0], 'Mon': rows['Mon'].iloc[0], 'Nace': rows['Nace'].iloc[0], 'SGrupp': rows['SGrupp'].iloc[0], 'ht_estimator': ht_estimator, 'ht_variance_estimator': ht_variance_estimator})

In [6]:
# calculate the point estimate and variance in each stratum

estim = df_ind.groupby(by=["Year", "Mon", "Nace", "SGrupp"]).apply(horvitz_thompson_estimator)

/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))

/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))
/tmp/ipykernel_30695/61179157.py:6: RuntimeWarning: invalid value encountered in scalar multiply
  ht_variance_estimator = np.sum(np.outer(y, y) / np.outer(pi, pi)) - (2 / np.sum(rows['Storan'])) * np.sum(np.triu(np.outer(y, y) / np.outer(pi, pi), k=1))

In [7]:
print(estim)

                       ht_estimator  ht_variance_estimator
Year Mon Nace SGrupp
2015 1   25   1        51922.483491           2.695910e+09
              2       101791.923077           1.036134e+10
              3        71817.965217           5.157520e+09
              4        92754.857143           8.602336e+09
              5         7755.000000           5.887481e+07
...                             ...                    ...
2021 12  30   1        12654.200000           1.595369e+08
              2         5610.000000           3.130920e+07
              5        21584.000000           4.646908e+08
              6        74657.000000           5.430961e+09
              8        77154.000000           5.383960e+09

[2628 rows x 2 columns]

In [8]:
import pickle

estim.to_pickle('Estim.pkl')