In [1]:
library(arrow) # arrow_info()
read_parquet("pipeline.parquet")

Attaching package: ‘arrow’


The following object is masked from ‘package:utils’:

    timestamp

  Name    Age
1 dom     10
2 abhi    15
3 celeste 14